<div>
    <h2 id="page-heading">
        <span>Empleados</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-empleado" [routerLink]="['/empleado/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Empleado
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="empleados?.length === 0">
        <span>No empleados found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="empleados && empleados.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Tip Doc Emp</span></th>
                    <th scope="col" ><span>Nro Doc Emp</span></th>
                    <th scope="col" ><span>Nombres Emp</span></th>
                    <th scope="col" ><span>Apellidos Emp</span></th>
                    <th scope="col" ><span>Categoria</span></th>
                    <th scope="col" ><span>Tel 1</span></th>
                    <th scope="col" ><span>Tel 2</span></th>
                    <th scope="col" ><span>Correo</span></th>
                    <th scope="col" ><span>Direccion</span></th>
                    <th scope="col" ><span>Ref Direcc</span></th>
                    <th scope="col" ><span>Distrito</span></th>
                    <th scope="col" ><span>Fec Ingreso</span></th>
                    <th scope="col" ><span>Estado</span></th>
                    <th scope="col" ><span>Version</span></th>
                    <th scope="col" ><span>Ind Del</span></th>
                    <th scope="col" ><span>Fec Crea</span></th>
                    <th scope="col" ><span>Usu Crea</span></th>
                    <th scope="col" ><span>Ip Crea</span></th>
                    <th scope="col" ><span>Fec Modif</span></th>
                    <th scope="col" ><span>Usu Modif</span></th>
                    <th scope="col" ><span>Ip Modif</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados ;trackBy: trackId">
                    <td><a [routerLink]="['/empleado', empleado.id, 'view']">{{ empleado.id }}</a></td>
                    <td>{{ empleado.tipDocEmp }}</td>
                    <td>{{ empleado.nroDocEmp }}</td>
                    <td>{{ empleado.nombresEmp }}</td>
                    <td>{{ empleado.apellidosEmp }}</td>
                    <td>{{ empleado.categoria }}</td>
                    <td>{{ empleado.tel1 }}</td>
                    <td>{{ empleado.tel2 }}</td>
                    <td>{{ empleado.correo }}</td>
                    <td>{{ empleado.direccion }}</td>
                    <td>{{ empleado.refDirecc }}</td>
                    <td>{{ empleado.distrito }}</td>
                    <td>{{ empleado.fecIngreso | date:'medium' }}</td>
                    <td>{{ empleado.estado }}</td>
                    <td>{{ empleado.version }}</td>
                    <td>{{ empleado.indDel }}</td>
                    <td>{{ empleado.fecCrea | date:'medium' }}</td>
                    <td>{{ empleado.usuCrea }}</td>
                    <td>{{ empleado.ipCrea }}</td>
                    <td>{{ empleado.fecModif | date:'medium' }}</td>
                    <td>{{ empleado.usuModif }}</td>
                    <td>{{ empleado.ipModif }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/empleado', empleado.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/empleado', empleado.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(empleado)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
