<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empleado">
            <h2><span>Empleado</span> {{ empleado.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Tip Doc Emp</span></dt>
                <dd>
                    <span>{{ empleado.tipDocEmp }}</span>
                </dd>
                <dt><span>Nro Doc Emp</span></dt>
                <dd>
                    <span>{{ empleado.nroDocEmp }}</span>
                </dd>
                <dt><span>Nombres Emp</span></dt>
                <dd>
                    <span>{{ empleado.nombresEmp }}</span>
                </dd>
                <dt><span>Apellidos Emp</span></dt>
                <dd>
                    <span>{{ empleado.apellidosEmp }}</span>
                </dd>
                <dt><span>Categoria</span></dt>
                <dd>
                    <span>{{ empleado.categoria }}</span>
                </dd>
                <dt><span>Tel 1</span></dt>
                <dd>
                    <span>{{ empleado.tel1 }}</span>
                </dd>
                <dt><span>Tel 2</span></dt>
                <dd>
                    <span>{{ empleado.tel2 }}</span>
                </dd>
                <dt><span>Correo</span></dt>
                <dd>
                    <span>{{ empleado.correo }}</span>
                </dd>
                <dt><span>Direccion</span></dt>
                <dd>
                    <span>{{ empleado.direccion }}</span>
                </dd>
                <dt><span>Ref Direcc</span></dt>
                <dd>
                    <span>{{ empleado.refDirecc }}</span>
                </dd>
                <dt><span>Distrito</span></dt>
                <dd>
                    <span>{{ empleado.distrito }}</span>
                </dd>
                <dt><span>Fec Ingreso</span></dt>
                <dd>
                    <span>{{ empleado.fecIngreso }}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{ empleado.estado }}</span>
                </dd>
                <dt><span>Version</span></dt>
                <dd>
                    <span>{{ empleado.version }}</span>
                </dd>
                <dt><span>Ind Del</span></dt>
                <dd>
                    <span>{{ empleado.indDel }}</span>
                </dd>
                <dt><span>Fec Crea</span></dt>
                <dd>
                    <span>{{ empleado.fecCrea }}</span>
                </dd>
                <dt><span>Usu Crea</span></dt>
                <dd>
                    <span>{{ empleado.usuCrea }}</span>
                </dd>
                <dt><span>Ip Crea</span></dt>
                <dd>
                    <span>{{ empleado.ipCrea }}</span>
                </dd>
                <dt><span>Fec Modif</span></dt>
                <dd>
                    <span>{{ empleado.fecModif }}</span>
                </dd>
                <dt><span>Usu Modif</span></dt>
                <dd>
                    <span>{{ empleado.usuModif }}</span>
                </dd>
                <dt><span>Ip Modif</span></dt>
                <dd>
                    <span>{{ empleado.ipModif }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empleado', empleado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
