<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-heading">Create or edit a Cliente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tipDocCli">Tip Doc Cli</label>
                    <input type="text" class="form-control" name="tipDocCli" id="field_tipDocCli"
                           formControlName="tipDocCli"/>
                    <div *ngIf="editForm.get('tipDocCli')!.invalid && (editForm.get('tipDocCli')!.dirty || editForm.get('tipDocCli')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipDocCli')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nroDocCli">Nro Doc Cli</label>
                    <input type="text" class="form-control" name="nroDocCli" id="field_nroDocCli"
                           formControlName="nroDocCli"/>
                    <div *ngIf="editForm.get('nroDocCli')!.invalid && (editForm.get('nroDocCli')!.dirty || editForm.get('nroDocCli')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nroDocCli')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nombresCli">Nombres Cli</label>
                    <input type="text" class="form-control" name="nombresCli" id="field_nombresCli"
                           formControlName="nombresCli"/>
                    <div *ngIf="editForm.get('nombresCli')!.invalid && (editForm.get('nombresCli')!.dirty || editForm.get('nombresCli')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombresCli')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_apellidosCli">Apellidos Cli</label>
                    <input type="text" class="form-control" name="apellidosCli" id="field_apellidosCli"
                           formControlName="apellidosCli"/>
                    <div *ngIf="editForm.get('apellidosCli')!.invalid && (editForm.get('apellidosCli')!.dirty || editForm.get('apellidosCli')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellidosCli')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tel1">Tel 1</label>
                    <input type="text" class="form-control" name="tel1" id="field_tel1"
                           formControlName="tel1"/>
                    <div *ngIf="editForm.get('tel1')!.invalid && (editForm.get('tel1')!.dirty || editForm.get('tel1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tel1')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tel2">Tel 2</label>
                    <input type="text" class="form-control" name="tel2" id="field_tel2"
                           formControlName="tel2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_correo">Correo</label>
                    <input type="text" class="form-control" name="correo" id="field_correo"
                           formControlName="correo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_refDireccion">Ref Direccion</label>
                    <input type="text" class="form-control" name="refDireccion" id="field_refDireccion"
                           formControlName="refDireccion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_distrito">Distrito</label>
                    <input type="text" class="form-control" name="distrito" id="field_distrito"
                           formControlName="distrito"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                    <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('version')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_indDel">Ind Del</label>
                    <input type="checkbox" class="form-control" name="indDel" id="field_indDel"
                           formControlName="indDel"/>
                    <div *ngIf="editForm.get('indDel')!.invalid && (editForm.get('indDel')!.dirty || editForm.get('indDel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('indDel')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecCrea">Fec Crea</label>
                    <div class="d-flex">
                        <input id="field_fecCrea" type="datetime-local" class="form-control" name="fecCrea" formControlName="fecCrea" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecCrea')!.invalid && (editForm.get('fecCrea')!.dirty || editForm.get('fecCrea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecCrea')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecCrea')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuCrea">Usu Crea</label>
                    <input type="text" class="form-control" name="usuCrea" id="field_usuCrea"
                           formControlName="usuCrea"/>
                    <div *ngIf="editForm.get('usuCrea')!.invalid && (editForm.get('usuCrea')!.dirty || editForm.get('usuCrea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usuCrea')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ipCrea">Ip Crea</label>
                    <input type="text" class="form-control" name="ipCrea" id="field_ipCrea"
                           formControlName="ipCrea"/>
                    <div *ngIf="editForm.get('ipCrea')!.invalid && (editForm.get('ipCrea')!.dirty || editForm.get('ipCrea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ipCrea')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecModif">Fec Modif</label>
                    <div class="d-flex">
                        <input id="field_fecModif" type="datetime-local" class="form-control" name="fecModif" formControlName="fecModif" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuModif">Usu Modif</label>
                    <input type="text" class="form-control" name="usuModif" id="field_usuModif"
                           formControlName="usuModif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ipModif">Ip Modif</label>
                    <input type="text" class="form-control" name="ipModif" id="field_ipModif"
                           formControlName="ipModif"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
