<div>
    <h2 id="page-heading">
        <span>Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cliente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
        <span>No clientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Tip Doc Cli</span></th>
                    <th scope="col" ><span>Nro Doc Cli</span></th>
                    <th scope="col" ><span>Nombres Cli</span></th>
                    <th scope="col" ><span>Apellidos Cli</span></th>
                    <th scope="col" ><span>Tel 1</span></th>
                    <th scope="col" ><span>Tel 2</span></th>
                    <th scope="col" ><span>Correo</span></th>
                    <th scope="col" ><span>Direccion</span></th>
                    <th scope="col" ><span>Ref Direccion</span></th>
                    <th scope="col" ><span>Distrito</span></th>
                    <th scope="col" ><span>Estado</span></th>
                    <th scope="col" ><span>Version</span></th>
                    <th scope="col" ><span>Ind Del</span></th>
                    <th scope="col" ><span>Fec Crea</span></th>
                    <th scope="col" ><span>Usu Crea</span></th>
                    <th scope="col" ><span>Ip Crea</span></th>
                    <th scope="col" ><span>Fec Modif</span></th>
                    <th scope="col" ><span>Usu Modif</span></th>
                    <th scope="col" ><span>Ip Modif</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                    <td><a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a></td>
                    <td>{{ cliente.tipDocCli }}</td>
                    <td>{{ cliente.nroDocCli }}</td>
                    <td>{{ cliente.nombresCli }}</td>
                    <td>{{ cliente.apellidosCli }}</td>
                    <td>{{ cliente.tel1 }}</td>
                    <td>{{ cliente.tel2 }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.refDireccion }}</td>
                    <td>{{ cliente.distrito }}</td>
                    <td>{{ cliente.estado }}</td>
                    <td>{{ cliente.version }}</td>
                    <td>{{ cliente.indDel }}</td>
                    <td>{{ cliente.fecCrea | date:'medium' }}</td>
                    <td>{{ cliente.usuCrea }}</td>
                    <td>{{ cliente.ipCrea }}</td>
                    <td>{{ cliente.fecModif | date:'medium' }}</td>
                    <td>{{ cliente.usuModif }}</td>
                    <td>{{ cliente.ipModif }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cliente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
