<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card border-info ">
                <div class="card-header">
                    <div class="row">

                        <h3 >PRENDAS PENDIENTES DE RETIRO</h3>


                    </div>
                </div>
                <div class="card-body">



                    <hr class="mt-2 mb-3"/>
                    <div class="row">

                        <div class="col-md-10">
                            <div class="row ">
                                <div class="col-md-12">
                                    <table class="table table-bordered " >
                                        <thead>
                                        <tr>
                                            <th class="text-center"> NRO ORDEN </th>
                                            <th class="text-center"> LISTO DESDE </th>
                                            <th class="text-center"> SALDO </th>
                                            <th class="text-center"> VALOR TOTAL </th>
                                            <th class="text-center"> ACCION  </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr >
                                            <td>1</td>
                                            <td><input type="text" name='product'  placeholder='Enter Product Name' /></td>
                                            <td><input type="number" name='qty' placeholder='Enter Qty' /></td>
                                            <td><input type="number" name='price' placeholder='Enter Unit Price' /></td>
                                            <td><input type="number" name='total' placeholder='0.00' /></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>




                            </div>



                        </div>
                        <div class="col-md-2">
                            <div class="row ">
                                <div class="col-md-12">

                                </div>




                            </div>



                        </div>






                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-4 align-self-center">
                            <button type="button" class="btn btn-primary btn-block">GENERAR ORDEN</button>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>
