<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-orden-heading">Create or edit a Orden</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecEstiEnt">Fec Esti Ent</label>
                    <div class="d-flex">
                        <input id="field_fecEstiEnt" type="datetime-local" class="form-control" name="fecEstiEnt" formControlName="fecEstiEnt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecEstiEnt')!.invalid && (editForm.get('fecEstiEnt')!.dirty || editForm.get('fecEstiEnt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecEstiEnt')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecEstiEnt')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecRecog">Fec Recog</label>
                    <div class="d-flex">
                        <input id="field_fecRecog" type="datetime-local" class="form-control" name="fecRecog" formControlName="fecRecog" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_observacion">Observacion</label>
                    <textarea class="form-control" name="observacion" id="field_observacion"
                              formControlName="observacion"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <input type="text" class="form-control" name="estado" id="field_estado"
                           formControlName="estado"/>
                    <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('version')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_indDel">Ind Del</label>
                    <input type="checkbox" class="form-control" name="indDel" id="field_indDel"
                           formControlName="indDel"/>
                    <div *ngIf="editForm.get('indDel')!.invalid && (editForm.get('indDel')!.dirty || editForm.get('indDel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('indDel')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecCrea">Fec Crea</label>
                    <div class="d-flex">
                        <input id="field_fecCrea" type="datetime-local" class="form-control" name="fecCrea" formControlName="fecCrea" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecCrea')!.invalid && (editForm.get('fecCrea')!.dirty || editForm.get('fecCrea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecCrea')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecCrea')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuCrea">Usu Crea</label>
                    <input type="text" class="form-control" name="usuCrea" id="field_usuCrea"
                           formControlName="usuCrea"/>
                    <div *ngIf="editForm.get('usuCrea')!.invalid && (editForm.get('usuCrea')!.dirty || editForm.get('usuCrea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usuCrea')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ipCrea">Ip Crea</label>
                    <input type="text" class="form-control" name="ipCrea" id="field_ipCrea"
                           formControlName="ipCrea"/>
                    <div *ngIf="editForm.get('ipCrea')!.invalid && (editForm.get('ipCrea')!.dirty || editForm.get('ipCrea')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ipCrea')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fecModif">Fec Modif</label>
                    <div class="d-flex">
                        <input id="field_fecModif" type="datetime-local" class="form-control" name="fecModif" formControlName="fecModif" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuModif">Usu Modif</label>
                    <input type="text" class="form-control" name="usuModif" id="field_usuModif"
                           formControlName="usuModif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ipModif">Ip Modif</label>
                    <input type="text" class="form-control" name="ipModif" id="field_ipModif"
                           formControlName="ipModif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="cliente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackById">{{ clienteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
