<div class="row">
    <div class="col-md-12">
        <div class="row">

            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-warning btn-block" routerLink="ingresoPrendas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                   INGRESO PRENDAS<br>
                </a>
            </div>


            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-warning btn-block" routerLink="salidaPrendas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    SALIDA PRENDAS<br>
                </a>
            </div>




        </div>

        CAJA
        <hr class="mt-2 mb-3"/>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-secondary btn-block" routerLink="clusterkafka" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    APERTURAR CAJA<br>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-success btn-block" routerLink="servidores" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    CERRAR CAJA<br>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-dark btn-block" routerLink="contratos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    INGRESOS EGRESOS<br>
                </a>
            </div>
        </div>

        ADMINISTRACION
        <hr class="mt-2 mb-3"/>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-warning btn-block"routerLink="clusterredis" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >

                    USUARIOS<br>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-success btn-block" routerLink="servidores" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    PRODUCTOS<br>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="btn btn-sq-lg btn-dark btn-block" routerLink="contratos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    PROMOCIONES<br>
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-sq-lg btn-primary btn-block" routerLink="publicacionweb" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

                    Inventario <br>
                </a>
            </div>





        </div>



    </div>


</div>
