<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="detalleOrden">
            <h2><span>Detalle Orden</span> {{ detalleOrden.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{ detalleOrden.cantidad }}</span>
                </dd>
                <dt><span>Val Uni</span></dt>
                <dd>
                    <span>{{ detalleOrden.valUni }}</span>
                </dd>
                <dt><span>Dcto</span></dt>
                <dd>
                    <span>{{ detalleOrden.dcto }}</span>
                </dd>
                <dt><span>Subtotal</span></dt>
                <dd>
                    <span>{{ detalleOrden.subtotal }}</span>
                </dd>
                <dt><span>Observacion</span></dt>
                <dd>
                    <span>{{ detalleOrden.observacion }}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{ detalleOrden.estado }}</span>
                </dd>
                <dt><span>Version</span></dt>
                <dd>
                    <span>{{ detalleOrden.version }}</span>
                </dd>
                <dt><span>Ind Del</span></dt>
                <dd>
                    <span>{{ detalleOrden.indDel }}</span>
                </dd>
                <dt><span>Fec Crea</span></dt>
                <dd>
                    <span>{{ detalleOrden.fecCrea }}</span>
                </dd>
                <dt><span>Usu Crea</span></dt>
                <dd>
                    <span>{{ detalleOrden.usuCrea }}</span>
                </dd>
                <dt><span>Ip Crea</span></dt>
                <dd>
                    <span>{{ detalleOrden.ipCrea }}</span>
                </dd>
                <dt><span>Fec Modif</span></dt>
                <dd>
                    <span>{{ detalleOrden.fecModif }}</span>
                </dd>
                <dt><span>Usu Modif</span></dt>
                <dd>
                    <span>{{ detalleOrden.usuModif }}</span>
                </dd>
                <dt><span>Ip Modif</span></dt>
                <dd>
                    <span>{{ detalleOrden.ipModif }}</span>
                </dd>
                <dt><span>Orden</span></dt>
                <dd>
                    <div *ngIf="detalleOrden.orden">
                        <a [routerLink]="['/orden', detalleOrden.orden?.id, 'view']">{{ detalleOrden.orden?.id }}</a>
                    </div>
                </dd>
                <dt><span>Producto</span></dt>
                <dd>
                    <div *ngIf="detalleOrden.producto">
                        <a [routerLink]="['/producto', detalleOrden.producto?.id, 'view']">{{ detalleOrden.producto?.id }}</a>
                    </div>
                </dd>
                <dt><span>Promocion</span></dt>
                <dd>
                    <div *ngIf="detalleOrden.promocion">
                        <a [routerLink]="['/promocion', detalleOrden.promocion?.id, 'view']">{{ detalleOrden.promocion?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/detalle-orden', detalleOrden.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
